.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.nav {
  padding: 1em 0;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}